html {
    background-color: #70CBCB;
}

p {
   color: #174E9F;
    another-property: value;
}

#head1 {
   color: brown;
}

#type {
   background-color: #DFF235;
}
.head {
    text-align: center
}
p.secondpara{
    border-style: solid;
    text-align: center;
    font-style: italic;
}